  /*Para editar logo navbar*/

  .logo-navbar {
      width: 35mm;
      height: 13mm;
  }
  ul {
      list-style-type: none;
  }
  li {
      display: inline-block;
  }
  input[type="checkbox"][id^="cb"] {
      display: none;
  }
  input[type="checkbox"] {
      display: none;
  }
  label {
      border: 1px solid #fff;
      padding: 5px;
      display: block;
      position: relative;
      margin: 10px;
      cursor: pointer;
  }
  label:before {
      background-color: white;
      color: white;
      content: " ";
      display: block;
      border-radius: 50%;
      border: 1px solid grey;
      position: absolute;
      top: -5px;
      left: -5px;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 28px;
      transition-duration: 0.4s;
      transform: scale(0);
  }
  label img {
      height: 100px;
      width: 100px;
      transition-duration: 0.2s;
      transform-origin: 50% 50%;
  }
  :checked+label {
      border-color: #ddd;
  }
  :checked+label:before {
      content: "✓";
      background-color: green;
      transform: scale(1);
  }
  :checked+label img {
      transform: scale(0.9);
      z-index: -1;
  }

  @media  (max-width:991px){
	label img {
        height: 75px;
        width: 75px;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
    }

	h6 {
		font-size:10px;

		}
  }

  @media  (min-width:482px) and (max-width:767px ){
	label img {
        height: 100px;
        width: 100px;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
    }

	h6 {
		font-size:10px;

		}
  }
